.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    background: linear-gradient(rgb(14, 14, 62),rgb(83, 83, 126));
}

.gallery h1{
    font-size: 4em;
    color: aliceblue;
}

.gallery p{
color: rgb(155, 155, 155);
margin: 0.4em;
text-align: center;
}

.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
}

.images-container img{
    margin: 10px;
}

.images-container img:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 234, 255, 0.3);
}


