@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

/* Background images */
/* Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* url(https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg) */

.bgimg-1 {
    background-image: url(main.jpg);
    min-height: 100vh;
}

.bgimg-2 {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/015/294/original/dark-blue-abstract-background-with-moving-light-effect-free-video.jpg);
    min-height: 100vh;
}

.bgimg-3 {
    background-image: url(contact-bg.jpg);
    min-height: 50vh;
}

.bgimg-4 {
    background-image: url();
    min-height: 50vh;
}



/* NAVBAR CSS  */
/* Top Nav Bar Design*/
header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s ease;
}

header.sticky .logo {
    color: #111;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    margin-right: 10px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul .btn {
    margin-left: 2em;
}

header ul li {
    position: relative;
    list-style: none;
}

header.sticky ul li a {
    color: #000;
    font-weight: 500;
}

header ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

/*Responsive part*/

@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 10;
    }

    .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.6s ease;
        z-index: 9;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111;
        margin: 10px;
        font-size: 24px;
    }

    header ul .btn {
        margin: 0;
        margin-bottom: 0.5em;
    }

    header ul .btn2 {
        margin: 0;
        margin-bottom: 0.5em;
    }

    .toggle:before {
        content: "\2630";
        width: 100%;
        height: 100%;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    .toggle.active:before {
        content: "\0002DF";
        width: 20px;
        height: 20px;
        font-size: 50px;
        line-height: 20px;
        position: absolute;
        text-align: center;
        top: 50%;
        right: 50px;
    }

    header.sticky .toggle {
        filter: invert(1);
    }

    header.sticky .toggle.active:before {
        position: absolute;
        top: 50%;
        right: 5px;
    }
}



#hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#hero-section h1 {
    color: white;
    font-size: 70px;
    text-align: center;
}

#hero-section h2 {
    color: white;
    text-align: center;
}

.btn {
    background-color: rgb(160, 18, 18);
    color: white;
    padding: 12px;
    padding-left: 17px;
    padding-right: 17px;
    margin: 20px;
    text-decoration: none;
    border-radius: 10px;
}


#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(255, 254, 254);
}

#about h1 {
    font-size: 2em;
    padding: 10px;
}

#about .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}



#about h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}

#about ul li {
    padding: 4px;
}

#events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(rgb(46, 46, 117), rgb(166, 166, 225));
}

#events h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
    color: #fff;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container .about-event {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 10px;
    border: 1px solid rgba(169, 169, 169, 0.266);
    background-color: #fff;
}

.card:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 234, 255, 0.3);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    color: #fff;
    padding: 20px;
    flex-direction: column;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
}

.social-media i {
    font-size: 4em;
    margin: 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: #03bcf4;
}

.social-media i:hover{
    color: #076380;
}


#hero-section h1 {
    color: rgb(255, 255, 255);
    font-size: 4em;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    outline: none;
    animation: animate 5s linear infinite;
    margin: 0.4em;
}

@keyframes animate {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: rgb(255, 255, 255);
        box-shadow: none;
    }

    18.1%,
    20.1%,
    30.1%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }
}


#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

#contact h1{
    font-size: 3em;
    color: white;
}

#contact form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-input{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.form-input input{
    height: 40px;
}

.form-input label{
    font-size: 2em;
    color: white;
}

.form-input textarea{
    height: 100px;
    padding: 10px;
}



@media (max-width: 991px) {

    #about img {
        display: none;
    }

    #hero-section h1 {
        font-size: 2.4em;
    }

    footer .social-media i{
        font-size: 2em;
    }

    #event .card-container .card img{
        width: 350px;
    }

    .form-input{
        width: 350px;
    }

}
