#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(140, 135, 135);
    padding-top: 8em;
    padding-bottom: 4em;
    background: linear-gradient(rgb(14, 14, 62),rgb(83, 83, 126));
}

.team-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.team-card img{
    width: 320px;
}

#team h1{
    font-size: 4em;
    color: aliceblue;
}

#team p{
color: rgb(155, 155, 155);
margin: 0.4em;
text-align: center;
}

.team-card a{
    background-color: rgb(11, 105, 123);
    width: 320px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.team-card a:hover{
    background-color: rgb(25, 158, 185);  
}

.team-card .team-about{
    background-color: rgb(231, 231, 231);
    width: 320px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(11, 11, 11);
    padding-top: 10px;
    padding-bottom: 10px;
}